{% extends 'index.html.twig' %}

{% block title %} {{ article.title }}  {% endblock %}

{% block main %}
    <article>
        <h2> {{ article.title }} </h2>
        <div>
            <span class="label label-info">Posted on </span>
            <time datetime="{{ article.addedTime }}" class="label label-primary">
                {{ article.addedTime|date('d-m-Y H:i:s') }}
            </time>
            <div class="pull-right">
                <span class="label label-default">By </span>
                <span class="label label-success">{{ article.author.username }}</span>
            </div>
        </div>
        <br/>
        <br/>
        <p> {{ article.content|nl2br }}</p>
    </article>
    <h3>Add a comment</h3>
    <div class="fb-comments" data-href="" data-width="700" data-numposts="5" data-colorscheme="light"></div>

{% endblock %}