{% extends 'layout.html.twig' %}
{% block content %}
    <section class="col-md-8" id="main">
        {% block main %}
            {% for article in articles %}
                <h1>{{ article.title }}</h1>
                <p>
                    <article>
                        {{ article.content | truncate(450) }}
                        <a href="{{ app.request.basepath }}/article/{{ article.id }}">Read more</a>
                    </article>
                </p>
                <div>
                    <span class="label label-info">Posted on </span>
                    <time datetime="{{ article.addedTime }}" class="label label-primary">
                        {{ article.addedTime|date('d-m-Y H:i:s') }}
                    </time>
                    <div class="pull-right">
                        <span class="label label-default">By </span>
                        <span class="label label-success">{{ article.author.username }}</span>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        {% endblock %}
    </section>
    <section class="col-md-4">
        {% include 'sidebar.html.twig' %}
    </section>
{% endblock %}